<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao${KAKAO_NATIVE_APP_KEY}</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
            <array>
                <string>where.naver.login</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>com.audiwhere.app</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>audiwhere</string>
            </array>
        </dict>
    </array>
    <key>KAKAO_NATIVE_APP_KEY</key>
	<string>$(KAKAO_NATIVE_APP_KEY)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
		<string>naversearchapp</string>
		<string>naversearchthirdlogin</string>
		<string>kakaomap</string>
		<string>nmap</string>
        <string>audiwhere</string>
	</array>
	<key>NidAppName</key>
	<string>약속을 새롭게 정의하다, 어디</string>
	<key>NidClientID</key>
	<string>SGZLJ93ZEb9rltMykhEO</string>
	<key>NidClientSecret</key>
	<string>$(NAVER_NATIVE_APP_KEY)</string>
	<key>NidUrlScheme</key>
	<string>where.naver.login</string>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Bold.otf</string>
		<string>Pretendard-Medium.otf</string>
		<string>Pretendard-Regular.otf</string>
		<string>Pretendard-SemiBold.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
